<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]]</title>
</head>
<body>

<a data-th-href="@{http://localhost:8080/catalogue/products/list}">&larr; К списку товаров</a>
<h1 data-th-text="${product.title}"></h1>
<ul>
    <li><strong>ID</strong> : <span data-th-text="${product.id}"></spandata-th-text></span> </li>
    <li><strong>Название</strong> : <span data-th-text="${product.title}"></spandata-th-text></span> </li>
    <li><strong>Описание</strong> : <span data-th-text="${product.details}"></span> </li>
</ul>
</body>
</html>